services:
  dev:
    container_name: dev-sato-app
    image: dev-sato-app
    working_dir: /app
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    ports:
      - 3000:3000
    environment:
      - MY_APP_DATABASE_URL=mysql2://admin:mypassword@db:3306/app
      - SECRET_KEY_BASE=dummydummy
    depends_on:
      - db
      - redis

  dev-deploy:
    image: dev-sato-app-deploy
    build:
      context: .
      dockerfile: Dockerfile

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: mypassword
      MYSQL_USER: admin
      MYSQL_PASSWORD: mypassword
      MYSQL_DATABASE: app
    ports:
      - "12500:3306"
    volumes:
      - db-volume:/var/lib/mysql

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

volumes:
  redis-volume:
  db-volume: